<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
"-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soldesk.mp.login.LoginMapper">

	<insert id="joinMember" parameterType="com.soldesk.mp.login.member">
	insert into member values(#{id},#{pw},#{name},#{address},#{innate},#{innate2})
	</insert>
	
	<select id="idCheck" parameterType="com.soldesk.mp.login.member" resultType="com.soldesk.mp.login.member">
	select id from member where id = #{id}
	</select>
	
	<select id="loginOk" parameterType="com.soldesk.mp.login.member" resultType="com.soldesk.mp.login.member">
	select * from member where id = #{id}
	</select>

	<select id="findId" parameterType="com.soldesk.mp.login.member" resultType="com.soldesk.mp.login.member">
	select id,name from member where name = #{name} and innate = #{innate}
	</select>
	
	<select id="findPw" parameterType="com.soldesk.mp.login.member" resultType="com.soldesk.mp.login.member">
	select pw,name from member where id = #{id} and name = #{name} and innate = #{innate}
	</select>
	
	<select id="checkPw" parameterType="com.soldesk.mp.login.member" resultType="com.soldesk.mp.login.member">
	select pw from member where id = #{id}
	</select>
	
	
	<update id="changePw" parameterType="com.soldesk.mp.login.member">
	update member set pw = #{pw} where id like #{id}
	</update>
	
	<select id="checkInnate" parameterType="com.soldesk.mp.login.member" resultType="com.soldesk.mp.login.member">
	select innate from member where id = #{id}
	</select>
	
	<delete id="deleteMember" parameterType="com.soldesk.mp.login.member">
	delete from member where id = #{id}
	</delete>
	
	
</mapper>